{% extends 'basic.html' %} 
{% block title %} Project{% endblock title %}

{% block body %} 
{% load static %}
<section id="projects" class="projects">
      <div class="container">

        <div class="section-title">
          <h2>Welcome to My Projects</h2>
         
        </div>

        <div class="row">
        {% for post in posts %}
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">

            <div class="col-lg-4" data-aos="fade-right">
            <img src="{{post.image.url}}" class="img-fluid" alt="no-image">
          </div>
          <br>
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">{{post.title}}</a></h4>
            <p class="description">{{post.description}}</p>
            <p>Created on : <b>{{post.created_at}} </b></p>
          </div>
        {% endfor %}


         
         
        </div>

      </div>
    </section><!-- End Services Section -->
{% endblock body %}
